.home {
  transition: 0.5s;
  width: 50%;
  height: 20%;
  // padding: 1em;
  margin: 1em auto;
  width: fit-content;
  color: $quinary-color;
  font-size: 60px;
  &:hover {
    color: $teriary-color;
  }
}

.roundedImg {
  margin-right: 2rem;
  border: 8px solid $secondary-color;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  overflow: hidden;
  .profilPicture {
    width: 110%;
    display: block;
    margin-left: -2%;
    margin-right: auto;
    transform: scaleX(-1);
  }
}
.flex {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}